<div class="row">
  <!-- left column -->
<div class="col-md-12">

  <!-- general form elements -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">{{titulo}} fornecedor</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form  (ngSubmit)="adicionar()"  [formGroup]="formulario">
      <div class="box-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder=""
              name="nome" formControlName="nome">

            <app-message [control]="formulario.get('nome')" error="obrigatoriedade"
                text="Informe o nome" msg="Nome é obrigatório"
                ></app-message>

            <app-message [control]="formulario.get('nome')" error="tamanhoMinimo"
                text="Mínimo de {{ formulario.get('nome').errors?.tamanhoMinimo?.tamanho }} caracteres" msg="Nome é obrigatório"
                ></app-message>

          </div>
          <div class="form-group col-md-6">

            <label for="nome">Nome Fantasia</label>
            <input type="text" class="form-control" id="nomeFantasia" placeholder=""
              name="nomeFantasia" formControlName="nomeFantasia">

            <app-message [control]="formulario.get('nomeFantasia')" error="obrigatoriedade"
                text="Informe o nome fantasia" msg="Nome fantasia é obrigatório"
                ></app-message>

            <app-message [control]="formulario.get('nomeFantasia')" error="tamanhoMinimo"
                text="Mínimo de {{ formulario.get('nomeFantasia').errors?.tamanhoMinimo?.tamanho }} caracteres" msg="Nome fantasia é obrigatório"
                ></app-message>

          </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                <label for="nome">CPF/CNPJ</label>
                <input type="text" class="form-control" id="cpfOuCnpj" placeholder=""
                  name="cpfOuCnpj" formControlName="cpfOuCnpj"
                  appCpfCnpjMask>

                <app-message [control]="formulario.get('cpfOuCnpj')" error="obrigatoriedade"
                    text="Informe o CPF/CNPJ" msg="CPF/CNPJ é obrigatório"
                    ></app-message>


            </div>
            <div class="form-group col-md-3">
                <label for="nome">Telefone</label>
                <input type="text" class="form-control" id="telefone" placeholder=""
                  name="telefone" formControlName="telefone">

            </div>
            <div class="form-group col-md-3">
                <label for="nome">Telefone Opcional</label>
                <input type="text" class="form-control" id="telefone_op" placeholder=""
                  name="telefone_op" formControlName="telefone_op">

            </div>

            <div class="form-group col-md-3" formGroupName="cidade">
                <label for="nome">Cidade</label>
                <select type="text" class="form-control" id="id" placeholder=""
                    name="id" formControlName="id">

                  <option value="" selected="selected"></option>
                  <option *ngFor="let cidade of cidades" value="{{ cidade.id }}">{{cidade.nome}}</option>

                </select>

                <app-message [control]="formulario.get('id')" error="obrigatoriedade"
                  text="Informe a cidade" msg="Cidade é obrigatório"
                  ></app-message>
            </div>

        </div>

        <div class="row" formGroupName="endereco">
          <div class="form-group col-md-4" >
              <label for="nome">Endereço</label>
              <input type="text" class="form-control" id="endereco" placeholder=""
                name="endereco" formControlName="endereco">

          </div>
          <div class="form-group col-md-2">
              <label for="nome">Número</label>
              <input type="text" class="form-control" id="numero" placeholder=""
                name="numero" formControlName="numero">

          </div>
          <div class="form-group col-md-6">
              <label for="nome">Complemento</label>
              <input type="text" class="form-control" id="complemento" placeholder=""
                name="complemento" formControlName="complemento">

          </div>
      </div>


      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
  <!-- /.box -->
</div>

</div>
