<!-- /pagination -->

<div class="box-footer clearfix" >
  <ul *ngIf="totalPagesGeral > 0" class="pagination pagination-sm no-margin pull-right">
    <li *ngIf="totalPagesGeral" [ngClass]="{disabled: currentPageLocal === 0}"><a (click)="changePage(currentPageLocal - 1)">&laquo;</a></li>

    <li *ngIf="startPageLocal > 0" [ngClass]="{active: currentPageLocal === 0}"><a (click)="changePage(0)" >1</a></li>

    <li *ngIf="startPageLocal > 1"><a >...</a></li>

    <li *ngFor="let page of pages.slice()" [ngClass]="{active: currentPageLocal === page}"><a (click)="changePage(page)" >{{(page + 1)}}</a></li>

    <li *ngIf="endPageLocal < totalPagesGeral-1" [ngClass]="{active: currentPageLocal === (lastPageLocal - 1)}"><a >...</a></li>

    <li *ngIf="endPageLocal < totalPagesGeral"><a (click)="changePage(lastPageLocal - 1)">{{lastPageLocal}}</a></li>

    <li *ngIf="totalPagesGeral" [ngClass]="{disabled: currentPageLocal === lastPageLocal - 1}"><a (click)="changePage(currentPageLocal + 1)">&raquo;</a></li>
  </ul>
</div>
