<!-- /.row -->
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Responsive Hover Table</h3>

        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>...</th>
          </tr>
          <tr *ngFor="let tipo of tipos">
            <td >{{tipo.id}}</td>
            <td>{{tipo.tipo}}</td>
            <td>...</td>
          </tr>
        </table>
      </div>

      <!-- /pagination -->
      <div class="box-footer clearfix">
        <ul *ngFor="let page of pages.slice().reverse()" class="pagination pagination-sm no-margin pull-right">
          <li *ngIf="page === pages[0]" [ngClass]="{disabled: currentPage === 0}"><a (click)="pesquisar(currentPage - 1)">&laquo;</a></li>

          <li *ngIf="page === pages[0]" [ngClass]="{active: currentPage === 0}"><a (click)="pesquisar(0)" >1</a></li>

          <li *ngIf="page === pages[0] && pages[0] - 1 >= 1"><a >...</a></li>

          <li *ngIf="page < (ultimaPagina - 1)" [ngClass]="{active: currentPage === page}"><a (click)="pesquisar(page)" >{{(page + 1)}}</a></li>

          <li *ngIf="page === pages[4] && pages[4] < (ultimaPagina - 2)" [ngClass]="{active: currentPage === ultimaPagina}"><a >...</a></li>

          <li *ngIf="page === pages[4] || (endPage === ultimaPagina && page === endPage)" [ngClass]="{active: currentPage === ultimaPagina - 1}"><a (click)="pesquisar(ultimaPagina - 1)">{{ultimaPagina}}</a></li>

          <li *ngIf="page === pages[4] || (endPage === ultimaPagina && page === endPage)" [ngClass]="{disabled: currentPage === ultimaPagina - 1}"><a (click)="pesquisar(currentPage + 1)">&raquo;</a></li>
        </ul>
      </div>

    </div>
    </div>
    </div>
    <!-- /.box -->
